################################################################
-------------------------------------------------------

version: OS-reboot.py
time:2023-11-23
更新内容：
1.通过ssh协议连接交换机,执行软重启操作;
2.记录重启失败遇到的错误问题；
3.可以手工设置交换机的重启次数，等待交换机重启的等待时间；
-------------------------------------------------------

version:reboot_2.0.py
time:2024-08-15
更新内容：
1.通过协议判断交换机是否重启，不是通过人工物理判断时延；
2.读取到每次软重启时交换机的重启时间；
3.结束测试提供本次测试的大体情况；
  ①重启失败次数
  ②平均重启时间
  ③本次测试用时总长
-------------------------------------------------------

version:reboot_3.0.py
time:2025-02-28
更新内容:
1.增加多台设备同时进行重启测试；
2.收集交换机的SN号，测试结果易于确认；
3.增加判断交换机是否保存配置内容，以防丢失配置内容;

----------------------------------------------------------------

version:reboot_3.0.py
time:2025-03-08
更新内容:
1.重启测试结果根据不同设备，分别写入到不同文件，一台设备使用一个文件夹保留；


-----------------------------------------------------------------------